header {
    background-color: #2020a3;
    padding:  40px 0;
}

.navbar {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.navbar__item {
    padding: .8rem;
    transition: all .3s linear;
    cursor: pointer;
}

.navbar__item:hover {
    background-color: grey;
    border-radius: 5px;
}

.navbar__link {
    font-size: 1.6em;
}

.logo {
    width: 80px;
}